<div>
  <div class="d-flex flex-wrap gap-2 justify-content-center">
    <div class="flex-grow-1">
      <label for="title" class="visually-hidden"> Title </label>
      <input
        id="title"
        class="form-control"
        placeholder="Title"
        name="title"
        type="text"
        required
      />
    </div>

    <div class="flex-grow-1">
      <label for="synopsis" class="visually-hidden"> Synopsis </label>
      <input
        id="synopsis"
        class="form-control"
        placeholder="Synopsis"
        name="synopsis"
        type="text"
        required
      />
    </div>
  </div>
</div>
