<div>
  <div class="d-flex flex-wrap gap-2 justify-content-center">
    <div class="flex-grow-1">
      <label for="title" class="visually-hidden">Song Title</label>
      <input
        id="title"
        class="form-control"
        placeholder="Song Title"
        name="title"
        type="text"
        required
      />
    </div>
  </div>

  <div class="d-flex flex-wrap gap-2 justify-content-center">
    <div class="flex-grow-1 mt-4">
      <label for="artist" class="form-label">Artist</label>
      <select id="artist" class="form-select" name="artist">
        <option value="" selected disabled hidden>Select an Artist</option>
        <% for (const artist of data.artists) { %>
        <option value="<%= artist._id %>">
          <%= `${artist.first_name} ${artist.last_name}` %>
        </option>
        <% } %>
      </select>
    </div>

    <div class="flex-grow-1 mt-4">
      <label for="album" class="form-label">Album</label>
      <select id="album" class="form-select" name="album">
        <option value="" selected disabled hidden>Select an Album</option>
        <% for (const album of data.albums) {%>
        <option value="<%= album._id %>"><%= album.title %></option>
        <% } %>
      </select>
    </div>
  </div>
</div>
