<footer class="text-center py-4 bg-dark-subtle text-body-tertiary">
  <small> &copy <span id="currentYear"></span>. All Rights Reserved </small>
</footer>

<script>
  document.getElementById("currentYear").innerHTML = new Date().getFullYear();
</script>
